@using Microsoft.AspNet.Identity
@using FourYears.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right" id="selfUl">
        <li>@Html.ActionLink("最新消息", "News", "Courses", new { area = "Courses" }, null)</li>
        <li>@Html.ActionLink("課程檢索", "Index", "Courses", new { area = "Courses" }, null)</li>
        <li>
            @Html.ActionLink("Hello " + ApplicationDbContext.GetNickName(User.Identity.GetUserId()), "Index", "Manage", new { area=""}, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">登出</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("最新消息", "News", "Courses", new { area = "Courses" }, null)</li>
        <li>@Html.ActionLink("課程檢索", "Index", "Courses", new { area = "Courses"}, null)</li>
        <li>@Html.ActionLink("註冊", "Register", "Account", new { area = "", returnUrl = Request.RawUrl }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("登入", "Login", "Account", new { area = "", returnUrl = Request.RawUrl }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
