@using Microsoft.AspNet.Identity;
@model FourYears.Areas.FoodMapArea.Models.Shop
@{
    ViewBag.Title = "美食首頁";
}

@section styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.carousel.min.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.theme.default.min.css"></link>
    <style>
        #ad {
            width: 70%;
            height: 150px;
        }

        #adarea {
            background-color: wheat;
            text-align: center;
        }

        #schooltext {
            font-size: 30px;
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
        }

        #schoolimg {
            width: 50px;
            height: 50px;
            margin-right: 15px;
        }

        #left-div {
            /*border:1px solid black;*/
            background-color: rgb(243, 243, 243);
            padding: 5px;
            height: 770px;
        }

        #right-div {
            /*border:1px solid black;*/
            /*background-color:antiquewhite;*/
            padding: 10px;
        }

        #firstContainer {
            margin-top: 30px;
        }

        .schoolarea {
            font-size: 20px;
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
        }

        .schoolname {
            font-size: 15px;
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
            color: black;
            margin: 3px;
        }

            .schoolname:hover {
                color: orangered;
                text-decoration: none;
            }

        .more {
            font-size: 15px;
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
            color: black;
            margin: 3px;
            float: right;
        }

            .more:hover {
                color: orangered;
                text-decoration: none;
            }

        .right-label {
            font-size: 28px;
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
            margin-top: 0px;
        }

        .item {
            text-align: center;
        }

        .owls {
            cursor: pointer;
            color: black;
        }

            .owls:hover {
                color: orangered;
                text-decoration: none;
            }

        .words {
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
            font-size: 16px;
        }

        .owlwords {
            font-size: 22px;
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
        }

        .barfont {
            font-size: 18px;
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
        }
    </style>

}


<div id="adarea">
    <img id="ad" src="~/Areas/FoodMapArea/WebImages/delicacy_banner_1.jpg" />
</div>
<div class="container">
    <ul class="breadcrumb barfont">
        <li>首頁</li>
        @*@if (Request.Cookies["UserName"] == null)
        {
            <li style="float:right">@Html.ActionLink("登入", "Login", "Account", new { area = "FoodMapArea" }, null)</li>
        }
        else
        {
            <li style="float:right">@Html.ActionLink(Request.Cookies["UserName"].Value + " 登出", "Logout", "Account", new { area = "FoodMapArea" }, null)</li>
        }*@

        @*@if (Request.Cookies["UserName"] == null)
        {
            <li style="float:right">@Html.ActionLink("管理介面", "Login", "Account", new { area = "FoodMapArea" }, null)</li>
        }
        else
        {
            if (Request.Cookies["UserName"].Value == "Admin")
            {
                <li style="float:right">@Html.ActionLink("管理介面", "Index", "Admin", new { area = "FoodMapArea" }, null)</li>
            }
            else
            {
                <li style="float:right">@Html.ActionLink("管理介面", "Index", "User", new { area = "FoodMapArea", id = Request.Cookies["CustomerID"].Value }, null)</li>
            }
        }*@
        @if (Roles.GetUsersInRole("Admin")!=null)
        {
            <li style="float:right">@Html.ActionLink("管理頁面", "Login", "Account", new { area = "", returnUrl = Request.RawUrl }, htmlAttributes: new { id = "loginLink" })</li>
        }
        else
        {
            <li style="float:right">@Html.ActionLink("管理頁面", "Index", "User", new { area = "FoodMapArea", UserID = User.Identity.GetUserId() }, null)</li>
        }
        <li style="float:right">@Html.ActionLink("店家介紹", "Index", "Shop", new { area = "FoodMapArea" }, null)</li>
        <li style="float:right">@Html.ActionLink("地圖美食", "Map", "Customer", new { area = "FoodMapArea" }, null)</li>
    </ul>
</div>
<div class="container" id="firstContainer">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3" id="left-div">
                <div class="col-md-12">
                    <img id="schoolimg" src="~/Areas/FoodMapArea/WebImages/school.png" />
                    <span id="schooltext">學校找美食</span>
                    <hr />
                    <div class="schoolarea"><span class="glyphicon glyphicon-education"></span>  北部</div>
                    <br />
                    @Html.ActionLink("國立台灣大學", "", "", new { @class = "schoolname" })
                    @Html.ActionLink("國立台灣科技大學", "", "", new { @class = "schoolname" })
                    <br />
                    @Html.ActionLink("國立交通大學", "", "", new { @class = "schoolname" })
                    @Html.ActionLink("國立體育大學", "Map", "Customer", new { CityID = 4, SchoolID = 15 }, new { @class = "schoolname" })
                    @* @Ajax.ActionLink("國立體育大學","Map","Customer", new { CityID = 4, SchoolID = 15, FoodCategoryID = 9 }, new AjaxOptions(){HttpMethod = "Post" }, new { @class = "schoolname" })*@
                    <br />
                    @Html.ActionLink("more...", "", "", new { @class = "more" })
                    <br />
                    <hr />
                    <div class="schoolarea"><span class="glyphicon glyphicon-education"></span>  中部</div>
                    <br />
                    @Html.ActionLink("國立中興大學", "", "", new { @class = "schoolname" })
                    @Html.ActionLink("南開科技大學", "", "", new { @class = "schoolname" })
                    <br />
                    @Html.ActionLink("建國科技大學", "", "", new { @class = "schoolname" })
                    @Html.ActionLink("國立虎尾科技大學", "", "", new { @class = "schoolname" })
                    <br />
                    @Html.ActionLink("more...", "", "", new { @class = "more" })
                    <br />
                    <hr />
                    <div class="schoolarea"><span class="glyphicon glyphicon-education"></span>  南部</div>
                    <br />
                    @Html.ActionLink("國立嘉義大學", "Map", "Customer", new { SchoolID = 40 }, new { @class = "schoolname" })
                    @Html.ActionLink("國立中正大學", "", "", new { @class = "schoolname" })
                    <br />
                    @Html.ActionLink("國立台南大學", "", "", new { @class = "schoolname" })
                    @Html.ActionLink("國立屏東科技大學", "", "", new { @class = "schoolname" })
                    <br />
                    @Html.ActionLink("more...", "", "", new { @class = "more" })
                    <br />
                    <hr />
                    <div class="schoolarea"><span class="glyphicon glyphicon-education"></span>  東部</div>
                    <br />
                    @Html.ActionLink("國立宜蘭大學", "", "", new { @class = "schoolname" })
                    @Html.ActionLink("慈濟科技大學", "", "", new { @class = "schoolname" })
                    <br />
                    @Html.ActionLink("國立台東大學", "", "", new { @class = "schoolname" })
                    @Html.ActionLink("國立東華大學", "", "", new { @class = "schoolname" })
                    <br />
                    @Html.ActionLink("more...", "", "", new { @class = "more" })
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>

            <div class="col-md-9">
                <label class="right-label"><span class="glyphicon glyphicon-chevron-right" style="color:darkgreen"></span><span style="color:orangered">推薦</span>店家</label>
                <div>
                    <div class="col-md-12" id="right-div">
                        <div class="col-md-5">
                            <img src="@Url.Action("GetImage",new { id=ViewBag.num})" style="width:300px;height:300px" />
                        </div>
                        <div class="col-md-7">
                            <p style="font-size:30px;font-family:'Microsoft JhengHei';font-weight:bold">@Html.DisplayTextFor(p => p.ShopName)</p>
                            <br />
                            <p style="font-size:16px;font-family:'Microsoft JhengHei'">@Html.DisplayTextFor(p => p.Description)</p>
                            <br />
                            @Html.LabelFor(p => p.Address, new { @class = "words" }) : @Html.DisplayTextFor(p => p.Address)　　@Html.LabelFor(p => p.Phone, new { @class = "words" }) : @Html.DisplayTextFor(p => p.Phone)
                            <br />
                            @Html.LabelFor(p => p.BusinessTime, new { @class = "words" }) : @Html.DisplayTextFor(p => p.BusinessTime)
                            <br />
                            <br />
                            <div style="float:right">@Html.ActionLink("點我看店家詳細", "Details", "Shop", new { id = ViewBag.num }, new { @class = "btn btn-primary", style = "font-size:18px;font-family:'Microsoft JhengHei';font-weight:bold" })</div>
                        </div>

                    </div>
                </div>
                <br />
                <div class="col-md-12">
                    <hr />
                </div>
                <br />
                <label class="right-label"><span class="glyphicon glyphicon-chevron-right" style="color:darkgreen"></span><span style="color:orangered">熱門</span>分類</label>
                <div class="col-md-12" id="right-div">
                    <div class="col-md-5">
                        <img src="~/Areas/FoodMapArea/WebImages/jpfood.jpg" style="width:300px;height:300px" />
                    </div>
                    <div class="col-md-7">
                        <p style="font-size:30px;font-family:'Microsoft JhengHei';font-weight:bold">日式料理大蒐秘</p>
                        <br />
                        <p style="font-size:16px;font-family:'Microsoft JhengHei'">日本料理泛指日本的飲食文化，又稱和食（日語：和食；更側重日本大和族的飲食），是日本文化重要的一環。「日本料理」在日語解作「日本式烹飪」。日本料理是日本人日常的傳統飲食，特別是在明治時代（19世紀末至20世紀初）所形成的飲食文化和習慣，這是因為東西方食材交融所產生的衝擊，雖然日本在海島上能夠取得的香料食材就很多元了。因而被稱為「眼睛的料理」。</p>
                        <br />
                        <div style="float:right">@Html.ActionLink("點我看相關店家", "Index", "Shop", new { id = 18 }, new { @class = "btn btn-primary", style = "font-size:18px;font-family:'Microsoft JhengHei';font-weight:bold" })</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <hr />
        </div>
    </div>
    <br />
    <br />
    <label class="right-label"><span class="glyphicon glyphicon-chevron-right" style="color:darkgreen"></span><span style="color:orangered">精選</span>店家</label>
    <br />
    <br />
    <div class="owl-carousel owl-theme" style="z-index:0">
        <div class="item"><img src="~/Areas/FoodMapArea/WebImages/1.jpg" class="owls" />@Html.ActionLink("極鮮饌", "Details", "Shop", new { id = 1 }, new { @class = "owlwords" })</div>
        <div class="item"><img src="~/Areas/FoodMapArea/WebImages/2.jpg" class="owls" />@Html.ActionLink("炎官日式燒肉", "Details", "Shop", new { id = 3 }, new { @class = "owlwords" })</div>
        <div class="item"><img src="~/Areas/FoodMapArea/WebImages/3.jpg" class="owls" />@Html.ActionLink("笑居樂食居酒屋", "Details", "Shop", new { id = 4 }, new { @class = "owlwords" })</div>
        <div class="item"><img src="~/Areas/FoodMapArea/WebImages/4.jpg" class="owls" />@Html.ActionLink("發福廚房", "Details", "Shop", new { id = 5 }, new { @class = "owlwords" })</div>
        <div class="item"><img src="~/Areas/FoodMapArea/WebImages/5.jpg" class="owls" />@Html.ActionLink("Gyuho Burger & Fries 牛宝", "Details", "Shop", new { id = 6 }, new { @class = "owlwords" })</div>
        <div class="item"><img src="~/Areas/FoodMapArea/WebImages/6.jpg" class="owls" />@Html.ActionLink("林家匠", "Details", "Shop", new { id = 7 }, new { @class = "owlwords" })</div>
        <div class="item"><img src="~/Areas/FoodMapArea/WebImages/7.jpg" class="owls" />@Html.ActionLink("森巴廚房餐坊", "Details", "Shop", new { id = 8 }, new { @class = "owlwords" })</div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
@section scripts{
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/owl.carousel.min.js"></script>

    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>
}
