@using Microsoft.AspNet.Identity;
@model IEnumerable<FourYears.Areas.FoodMapArea.Controllers.Temp>


@{
    ViewBag.Title = "地圖找美食";
}

@section styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        #ad {
            width: 70%;
            height: 150px;
        }

        #adarea {
            background-color: wheat;
            text-align: center;
        }

        #cf {
            background: linear-gradient(white,rgb(243, 243, 243));
        }

        .barfont {
            font-size: 18px;
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
        }
    </style>
}

<div id="adarea">
    <img id="ad" src="~/Areas/FoodMapArea/WebImages/delicacy_banner_1.jpg" />
</div>
<div class="container">
    <ul class="breadcrumb barfont">
        <li>@Html.ActionLink("首頁", "Index", "Customer", new { area = "FoodMapArea" }, null)</li>
        <li>地圖找美食</li>
        @*@if (Request.Cookies["UserName"] == null)
        {
            <li style="float:right">@Html.ActionLink("登入", "Login", "Account", new { area = "FoodMapArea" }, null)</li>
        }
        else
        {
            <li style="float:right">@Html.ActionLink(Request.Cookies["UserName"].Value + " 登出", "Logout", "Account", new { area = "FoodMapArea" }, null)</li>
        }*@

        @*@if (Request.Cookies["UserName"] == null)
        {
            <li style="float:right">@Html.ActionLink("管理介面", "Login", "Account", new { area = "FoodMapArea" }, null)</li>
        }
        else
        {
            if (Request.Cookies["UserName"].Value == "Admin")
            {
                <li style="float:right">@Html.ActionLink("管理介面", "Index", "Admin", new { area = "FoodMapArea" }, null)</li>
            }
            else
            {
                <li style="float:right">@Html.ActionLink("管理介面", "Index", "User", new { area = "FoodMapArea", id = Request.Cookies["CustomerID"].Value }, null)</li>
            }
        }*@
        @if (!User.Identity.IsAuthenticated)
        {
            <li style="float:right">@Html.ActionLink("管理頁面", "Login", "Account", new { area = "", returnUrl = Request.RawUrl }, htmlAttributes: new { id = "loginLink" })</li>
        }
        else
        {
            if (User.Identity.GetUserId() == "1ff58b8c-5c32-4827-bf58-1785c40fea1f")
            {
                <li style="float:right">@Html.ActionLink("管理頁面", "Index", "Admin", new { area = "FoodMapArea" }, null)</li>
            }
            else
            {
                <li style="float:right">@Html.ActionLink("管理頁面", "Index", "User", new { area = "FoodMapArea", UserID = User.Identity.GetUserId() }, null)</li>

            }
        }
        <li style="float:right">@Html.ActionLink("店家介紹", "Index", "Shop", new { area = "FoodMapArea" }, null)</li>
        <li style="float:right">@Html.ActionLink("地圖美食", "Map", "Customer", new { area = "FoodMapArea" }, null)</li>
    </ul>
</div>
<div class="container-fluid" id="cf" style="padding:10px">
    <div class="row">
        <div class="container" style="border:1px solid grey;border-radius:10px">
            <div class="row">
                <div class="col-md-12" id="pdl" style="margin:10px">
                    @using (Html.BeginForm("Map", "Customer", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.Action("PartialDrop")
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top:20px">
            <div class="col-lg-3">
                @{
                    Random r = new Random();
                    int a = r.Next(1, 4);
                }
                <div style="height:600px;">
                    @if (a == 1)
                    {
                        <a href="#"><img src="~/Areas/FoodMapArea/WebImages/ad1.jpg" style="height:590px;width:250px" /></a>
                    }
                    else if (a == 2)
                    {
                        <a href="#"><img src="~/Areas/FoodMapArea/WebImages/ad2.png" style="height:590px;width:250px" /></a>
                    }
                    else
                    {
                        <a href="#"><img src="~/Areas/FoodMapArea/WebImages/ad3.jpg" style="height:590px;width:250px" /></a>
                    }
                </div>
            </div>
            <div class="col-lg-9">
                <div id="map" style="width: 820px; height:600px"></div>
            </div>
        </div>

    </div>

</div>
<br />
<div class="container">
    <hr />
    <p style="color:orangered;font-size:24px;font-family:'Microsoft JhengHei';font-weight:bold"><span class="glyphicon glyphicon-check" style="color:darkgreen"></span>  搜尋結果</p>
</div>
<br />
<div id="showmap" class="container">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            @if (HttpContext.Current.Request.HttpMethod.Equals("POST"))
            {
                foreach (var shop in Model)
                {
                    <div class="col-md-4" style="margin-top:10px;">
                        <img src="@Url.Action("GetImage",new { id=shop.ShopID})" style="width:250px;height:250px;margin-top:10px" />
                        <p style="font-size:18px;font-family:'Microsoft JhengHei';font-weight:bold;color:red">@Html.DisplayTextFor(p => shop.ShopName)</p>
                        <p style="font-size:14px;font-family:'Microsoft JhengHei';font-weight:bold;color:green">@Html.DisplayTextFor(p => shop.FoodCategoryName)</p>
                        <p style="font-size:14px;font-family:'Microsoft JhengHei';font-weight:bold">@Html.DisplayTextFor(p => shop.Address)</p>
                        <p style="font-size:14px;font-family:'Microsoft JhengHei';font-weight:bold">@Html.DisplayTextFor(p => shop.Phone)</p>
                        <p>@Html.HiddenFor(p => shop.SchoolName)</p>
                        @Html.ActionLink("點我看店家詳細", "Details", "Shop", new { id = shop.ShopID }, new { @class = "btn btn-primary", style = "font-size:18px;font-family:'Microsoft JhengHei';font-weight:bold" })
                        <br />
                        <br />
                    </div>
                }
            }
            else
            {

                if (ViewBag.check == 1)
                {
                    foreach (var shop in Model)
                    {
                        <div class="col-md-4" style="margin-top:10px;">
                            <img src="@Url.Action("GetImage",new { id=shop.ShopID})" style="width:250px;height:250px;margin-top:10px" />
                            <p style="font-size:18px;font-family:'Microsoft JhengHei';font-weight:bold;color:red">@Html.DisplayTextFor(p => shop.ShopName)</p>
                            <p style="font-size:14px;font-family:'Microsoft JhengHei';font-weight:bold;color:green">@Html.DisplayTextFor(p => shop.FoodCategoryName)</p>
                            <p style="font-size:14px;font-family:'Microsoft JhengHei';font-weight:bold">@Html.DisplayTextFor(p => shop.Address)</p>
                            <p style="font-size:14px;font-family:'Microsoft JhengHei';font-weight:bold">@Html.DisplayTextFor(p => shop.Phone)</p>
                            <p>@Html.HiddenFor(p => shop.SchoolName)</p>
                            @Html.ActionLink("點我看店家詳細", "Details", "Shop", new { id = shop.ShopID }, new { @class = "btn btn-primary", style = "font-size:18px;font-family:'Microsoft JhengHei';font-weight:bold" })
                            <br />
                            <br />
                        </div>
                    }

                }
                else
                {
                    @Html.Action("PartialList")
                }

            }



        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@section scripts{
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://maps.google.com/maps?file=api&v=2&key=AIzaSyDXAOlGQEDh6e3iIetcst09MEM3X_Ew2ns" type="text/javascript"></script>

    <script type="text/javascript">

	  var geocoder;
	  var map;

        if ('@ViewBag.name' !=  "") {
            var address = '@ViewBag.name';
        } else {
            var address = '106台北市大安區復興南路一段390號';
        }

        if ('@ViewBag.add1' != "") {
            var address1 = '@ViewBag.add1';
        }

        if ('@ViewBag.add2' != "") {
            var address2 = '@ViewBag.add2';
        }

        if ('@ViewBag.add3' != "") {
            var address3 = '@ViewBag.add3';
        }

	  map = new GMap2(document.getElementById("map"));         // 建立地圖物件
	  map.addControl(new GLargeMapControl());                  // 加入地圖縮放工具
	  map.addControl(new GMapTypeControl());                   // 加入地圖切換的工具
	  geocoder = new GClientGeocoder();                        // 建立新的地理編碼物件
	  geocoder.getLocations(address1, addToMap);
	  geocoder.getLocations(address2, addToMap);
	  geocoder.getLocations(address3, addToMap);
	  geocoder.getLocations(address, addToMap);                //  檢索位置資訊，將它傳遞給 addToMap()


	  // 此函數會將點加入到地圖
	  function addToMap(response) {
	    place = response.Placemark[0];                         // 檢索物件
	    point = new GLatLng(place.Point.coordinates[1],place.Point.coordinates[0]);       // 檢索緯度和經度
	    map.setCenter(point, 14);                              // 以這一點為地圖中心
	    marker = new GMarker(point);                           // 建立標記
	    map.addOverlay(marker);                                // 將標記加入到地圖
	    marker.openInfoWindowHtml(place.address);              // 將位址資訊加入到標記
	  }




    </script>


}