@model FourYears.Areas.BookStoreAreas.Models.Customer

@{
    ViewBag.Title = "CustomerChangePassword";
}

<div class="container">
    @using (Html.BeginForm("CustomerChangePassword", "Customer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="row">
            <div class="col-lg-3">
                @Html.HiddenFor(customer => customer.CustomerID)
                @Html.HiddenFor(customer => customer.FullName)
                @Html.HiddenFor(customer => customer.NickName)
                @Html.HiddenFor(customer => customer.Account)
                @Html.HiddenFor(customer => customer.EmailAddress)
                @Html.HiddenFor(customer => customer.Phone)
                @Html.HiddenFor(customer => customer.Gender)
                @Html.HiddenFor(customer => customer.IdentityCard)
                @Html.HiddenFor(customer => customer.BirthDay)
                @Html.HiddenFor(customer => customer.CustomerID)
                @Html.HiddenFor(customer => customer.Address)
            </div>
            <div class="col-lg-7">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">確認密碼</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" id="ComfirmPassword" />
                    </div>
                </div>
                @*<div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>*@
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="變更密碼" class="btn btn-success" id="BtnChange" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    }
</div>

@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
    $(document).ready(function () {
        $("#Password").blur(function () { CheckPassword() });
        $("#ComfirmPassword").blur(function(){CheckPassword() });
        //function CheckPassword() {
        //    console.log($("#ComfirmPassword").val());
        //    if ($("#Password").val() == $("#ComfirmPassword").val()) {
        //        $("#BtnChange").removeAttr("disabled");
        //    }
        //}

        //$("#Password").mouseenter(function () {
        //    alert("yyy")
        //})
    })

    function CheckPassword() {
        if ($("#Password").val() != "" && $("#Password").val() == $("#ComfirmPassword").val()) {
            $("#BtnChange").removeAttr("disabled");
        }
        else
        {
            $("#BtnChange").attr("disabled","true");
        }
    }

    </script>
}


