@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles{
    <link rel="stylesheet" href="~/Content/main.css" />
    <style>
        .navbar {
            background-color: transparent;
            border:none;
        }
        .navbar-brand{
            height:44px;
        }
        .navbar-right a {
            height: 44px;
        }
        /*footer p{
            color:black;
        }*/
    </style>
    }

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <span class="avatar"><img src="~/images/Logo3.png" alt="" /></span>
            <h3 style="font-size:42px;font-family:'Bookman Old Style' ">
                肆 ‧ 年
            </h3>
            <h2 style="font-size:32px">
                一個專為大學生打造的全方位平台
            </h2>

            @*<ul class="icons">
                <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
                <li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>*@
        </header>

        <!-- Main -->
        <section id="main">

            <!-- Thumbnails -->
            <section class="thumbnails">
                @*<div style="margin-left:200px">
                    <input type="hidden" value="@Url.Action("action", "controller", new { area = "Courses" })" />
                    <a href="~/images/thumbs/美食.jpg">
                        <img src="~/images/thumbs/美食.jpg" alt="" />
                        <h3>美食地圖</h3>
                    </a>
                </div>
                <div>
                    <input type="hidden" value="@Url.Action("action", "controller", new { area = "Courses" })" />
                    <a href="~/images/thumbs/活動.jpg">
                        <img src="~/images/thumbs/活動.jpg" alt="" />
                        <h3>揪團活動</h3>
                    </a>
                </div>*@

            </section>
            <section class="thumbnails">
                <div>
                    <input type="hidden" value="@Url.Action("Index", "HomePage", new { area = "JobArea" })" />
                    <a href="~/images/thumbs/工作.png">
                        <img src="~/images/thumbs/工作.png" alt="" />
                        <h3>打工資訊</h3>
                    </a>
                </div>
                @*<div>
                    <input type="hidden" value="@Url.Action("action", "controller", new { area = "Courses" })" />
                    <a href="~/images/thumbs/買賣.jpg">
                        <img src="~/images/thumbs/買賣.jpg" alt="" />
                        <h3>網路書城</h3>
                    </a>
                </div>*@
                <div>
                    <input type="hidden" value="@Url.Action("index", "Courses", new { area = "Courses" })" />
                    <a href="~/images/thumbs/課程.jpg">
                        <img src="~/images/thumbs/課程.jpg" alt="" />
                        <h3>課程檢索</h3>
                    </a>
                </div>
            </section>

            <section class="thumbnails">
                <div style="height:200px;">
                </div>
            </section>
           

        </section>


    </div>
@section scripts{
<script src="~/Scripts/jquery.poptrox.min.js"></script>
<script src="~/Scripts/skel.min.js"></script>
<script src="~/Scripts/main.js"></script>
    <script>
        $(document).ready(function () {

            $('section a').click(function (event) {
                event.stopPropagation()
                window.location.href = $(this).parent("div").find("input").val()

            })
        })


    </script>
    }
    <!-- Scripts -->


