@using Microsoft.AspNet.Identity
@using FourYears.Models
@using MvcClient.Areas.Courses.Models
@model MvcClient.Areas.Courses.Models.AllCollegeCourseModel

@{
    ViewBag.Title = "GetCourseDetail";
}
@section styles{
    <style>
        .rankingRange {
            display: inline;
            margin-top: 6px;
        }
        .courseDetail h5 {
            margin-top: 0px;
            margin-bottom: 7px;
            font-size:15px;
        }
        .slefBlock{
            margin-bottom:40px;
        }
        h2 {
            margin-bottom: 20px;
        }

        #commentstring {
            height: 167px;
        }

        #submit {
            margin-left: 45px;
        }
        #postRanking .form-group {
            margin-bottom:28px;
        }
        #commentSubmitDiv {
            margin-left: 10px;
        }

    </style>
    }


<div class="container">
    <h2>@Html.DisplayFor(model => model.CourseName)</h2>

    <h4>詳細資料</h4>
    <hr />

    <div class="row slefBlock">
        <div class="col-md-5 courseDetail">
            <div class="row">
                <div class="col-md-offset-1 col-md-3" hidden="hidden">
                    <h5>
                        @Html.DisplayNameFor(model => model._id)
                    </h5>
                </div>

                <div class="col-md-8" hidden="hidden">
                    <h5 id="ObjId">
                        @Html.DisplayFor(model => model._id)
                    </h5>
                </div>
            </div>

            <div class="row">

                <div class="col-md-offset-1 col-md-3">
                    <h5>
                        @Html.DisplayNameFor(model => model.College)：
                    </h5>
                </div>

                <div class="col-md-8">
                    <h5>
                        @Html.DisplayFor(model => model.College)
                    </h5>
                </div>
            </div>

            <div class="row">

                <div class="col-md-offset-1 col-md-3">
                    <h5>
                        @Html.DisplayNameFor(model => model.Identity)：
                    </h5>
                </div>

                <div class="col-md-8">
                    <h5>
                        @Html.DisplayFor(model => model.Identity)
                    </h5>
                </div>
            </div>

            @*<div class="row">
                <div class="col-md-offset-1 col-md-3">
                    <h5>
                        @Html.DisplayNameFor(model => model.Semester)：
                    </h5>
                </div>

                <div class="col-md-8">
                    <h5>
                        @Html.DisplayFor(model => model.Semester)
                    </h5>
                </div>
            </div>*@

            @*<div class="row">

                <div class="col-md-offset-1 col-md-3">
                    <h5>
                        @Html.DisplayNameFor(model => model.CourseName)：
                    </h5>
                </div>

                <div class="col-md-8">
                    <h5>
                        @Html.DisplayFor(model => model.CourseName)
                    </h5>
                </div>
            </div>*@

            <div class="row">

                <div class="col-md-offset-1 col-md-3">
                    <h5>
                        @Html.DisplayNameFor(model => model.Teacher)：
                    </h5>
                </div>

                <div class="col-md-8">
                    <h5>
                        @Html.DisplayFor(model => model.Teacher)
                    </h5>
                </div>
            </div>

            <div class="row">

                <div class="col-md-offset-1 col-md-3">
                    <h5>
                        @Html.DisplayNameFor(model => model.TimeAndClassroom)：
                    </h5>
                </div>

                <div class="col-md-8">
                    <h5>
                        @Html.DisplayFor(model => model.TimeAndClassroom)
                    </h5>
                </div>
            </div>

            <div class="row">

                <div class="col-md-offset-1 col-md-3">
                    <h5>
                        @Html.DisplayNameFor(model => model.Major)：
                    </h5>
                </div>

                <div class="col-md-8">
                    <h5>
                        @Html.DisplayFor(model => model.Major)
                    </h5>
                </div>
            </div>

            <div class="row">

                <div class="col-md-offset-1 col-md-3">
                    <h5>
                        @Html.DisplayNameFor(model => model.Required)：
                    </h5>
                </div>

                <div class="col-md-8">
                    <h5>
                        @Html.DisplayFor(model => model.Required)
                    </h5>
                </div>
            </div>

            <div class="row">

                <div class="col-md-offset-1 col-md-3">
                    <h5>
                        @Html.DisplayNameFor(model => model.MaxNum)：
                    </h5>
                </div>

                <div class="col-md-8">
                    <h5>
                        @Html.DisplayFor(model => model.MaxNum)
                    </h5>
                </div>
            </div>

            <div class="row">

                <div class="col-md-offset-1 col-md-3">
                    <h5>
                        @Html.DisplayNameFor(model => model.Credit)：
                    </h5>
                </div>

                <div class="col-md-8">
                    <h5>
                        @Html.DisplayFor(model => model.Credit)
                    </h5>
                </div>
            </div>

            <div class="row">

                <div class="col-md-offset-1 col-md-3">
                    <h5>
                        @Html.DisplayNameFor(model => model.Limitation)：
                    </h5>
                </div>

                <div class="col-md-8">
                    <h5>
                        @Html.DisplayFor(model => model.Limitation)
                    </h5>
                </div>
            </div>

            <div class="row">

                <div class="col-md-offset-1 col-md-3">
                    <h5>
                        @Html.DisplayNameFor(model => model.Note)：
                    </h5>
                </div>

                <div class="col-md-8">
                    <h5>
                        @Html.DisplayFor(model => model.Note)
                    </h5>
                </div>
            </div>

            <div class="row" hidden="hidden">

                <div class="col-md-offset-1 col-md-3">
                    <h5>
                        @Html.DisplayNameFor(model => model.lastModified)：
                    </h5>
                </div>

                <div class="col-md-8" hidden="hidden">
                    <h5>
                        @Html.DisplayFor(model => model.lastModified)
                    </h5>
                </div>
            </div>

        </div>

        <div class="col-md-6  slefBlock">

            <h4>
                平均深度:
            </h4>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                     aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                     @ViewBag.avgDeepness
                </div>
            </div>

            <h4>
                平均涼度:
            </h4>
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                     aria-valuemin="0" aria-valuemax="100" style="width :100%">
                     @ViewBag.avgRelaxing
                </div>
            </div>

            <h4>
                平均甜度:
            </h4>
            <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                     aria-valuemin="0" aria-valuemax="100" style="width:100%">
                     @ViewBag.avgSweetness
                </div>
            </div>



                @*<div class="col-md-12">
                    <h4>
                        平均深度: @ViewBag.avgDeepness
                    </h4>
                </div>

                <div class="col-md-12">
                    <h4>
                        平均涼度: @ViewBag.avgRelaxing
                    </h4>
                </div>

                <div class="col-md-5">
                    <h4>
                        平均甜度: @ViewBag.avgSweetness
                    </h4>
                </div>*@
                <div class="col-md-7">
                    <h5>
                        (總共 @ViewBag.rankingLen 筆評價)
                    </h5>
                </div>


        </div>
    </div>

    <h4>評點</h4>
    <hr />
    <div class="row">
        <div id="postRanking" class="slefBlock col-md-5">
            @Html.Partial("PostRanking", new Ranking())
        </div>
        <div id="postComment" class="slefBlock col-md-5">
            @Html.Partial("PostComment", new Comment())
        </div>
    </div>

    <div id="comments" class="slefBlock">
        @Html.Partial("GetComments", Model.commentdata)
        @*@Model.commentdata*@
        @*@Html.Action("GetComments", "Courses", new { area = "Courses", strid = Model }))*@
    </div>
</div>


<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @*@Html.ActionLink("回到檢索頁面", "Index")*@
</p>





@section scripts{
    <script>
        //網頁進來時，設定評價值都為5
        $("#postRanking").find("input").parent("div").next("div").find("label").text(5)

        $("#postRanking").find("input").change(function () {
            $(this).parent("div").next("div").find("label").text($(this).val())
        })

            if ("@ViewBag.avgDeepness" != "尚無評價資料") {
                var avgDeepness = parseFloat(@ViewBag.avgDeepness)*10
                var avgRelaxing = parseFloat(@ViewBag.avgRelaxing)*10
                var avgSweetness = parseFloat(@ViewBag.avgSweetness) * 10
            $(".progress-bar-success").width(avgDeepness.toString() + "%")
            $(".progress-bar-info").width(avgRelaxing.toString() + "%")
            $(".progress-bar-warning").width(avgSweetness.toString() + "%")
        }


        function putToDb(url, data, successNote, errorNote) {
            $.ajax({
                url: url,
                type: 'PUT',
                data: data,
                crossDomain: true,
                //crossOrigin: true,
                //contentType: "application/json",
                //dataType: "jsonp",
                //jsonp: 'jsonp_callback',
                //success: function (data) {
                //    alert('新增成功');
                //    location.reload();
                //},

                error: function (httpReq, status, exception) {
                    if (httpReq.status == 500) {
                        alert(successNote);
                        location.reload();
                    }
                    else {
                        alert(errorNote);
                    }
                }

            });
        }


        //取出課程ID
        var ObjId = $('#ObjId').text().replace(new RegExp(" ", 'g'), '')

        //幫助取出是否匿名欄位的值
        $("#anonym").click(function () {
            if ($(this).prop("checked")) {
                $(this).removeProp("checked")
            }
            else {
                $(this).prop("checked", "checked");
            }
        })

        //送出評論
        $("#postComment").find("#submit").click(function (event) {
            event.preventDefault();

            var strid = ObjId;
            var url = "https://taiwanuniversitiescourses.azurewebsites.net/api/AllCollege?strid=" + strid + "&iscomment=true"
            var userID = "@User.Identity.GetUserId()";
            var name = "@ApplicationDbContext.GetNickName(User.Identity.GetUserId())";
            var email = "@User.Identity.GetUserName()"
            var commentstring = $("#postComment").find("#commentstring").val();
            var anonym = $("#postComment").find("#anonym").prop("checked");
            var allowEmailContact = true;
            commentData = { "userID": userID, "name": name, "email": email, "commentstring": commentstring, "anonym": anonym, "allowEmailContact": allowEmailContact }


            //確認經登錄
            if (!@User.Identity.IsAuthenticated.ToString().ToLower()){

                alert("請先登入後評論");
                window.location = "@Url.Action("Login", "Account", new { area = "", returnUrl = Request.RawUrl })"
            }
            else {
                //確認留言不是空值
                if (commentstring != "") {
                    putToDb(url, commentData, '評論成功', "評論失敗，請重新評論")
                } else {
                    alert("請輸入評論內容")
                }
            }

        })





        //送出評價
        $("#postRanking").find("#submit").click(function (event) {
                event.preventDefault();

                var strid = ObjId;
                var userID = "@User.Identity.GetUserId()"
                var deepness = parseInt($("#deepness").val())
                var relaxing = parseInt($("#relaxing").val())
                var sweetness = parseInt($("#sweetness").val())
                var url = "https://taiwanuniversitiescourses.azurewebsites.net/api/AllCollege?strid=" + strid + "&isranking=true"
                var rankingData = { "userID": userID, "deepness": deepness, "relaxing": relaxing, "sweetness": sweetness }


                //確認經登錄
                if (!@User.Identity.IsAuthenticated.ToString().ToLower()){
                    alert("請先登入後評論");
                    window.location = "@Url.Action("Login", "Account", new { area = "", returnUrl = Request.RawUrl })"
                }
                else {
                    //確認不重複評價
                    if (@ViewBag.HaveNotRanked){

                        @*@Url.Action("PostComments", "Courses", new { area = "Courses" }) + "?strid=" + strid *@
                        //送出Ajax
                        putToDb(url, rankingData, '評價成功', "評價失敗，請重新評價")
                    } else {
                        alert("請勿重複評價評價");
                    }
                }
            })







    </script>
}





