@model IEnumerable<MvcClient.Areas.Courses.Models.Question>


<h4>提問(共有 @ViewBag.questionLen 則提問) </h4>
<hr />
<div class="container">
    <div class="card row" id="stretchAllResponseDiv">
        <button type="button" id="stretchAllResponseBtn" class="btn-link">展開全部提問回覆</button>
    </div>
    @foreach (var item in Model)
    {
        <div class="card row">
            <div class="card-header">
                @Html.DisplayFor(modelItem => item.name)
            </div>
            <div class="card-block">
                <blockquote class="card-blockquote">
                    <p>@Html.DisplayFor(modelItem => item.questionstring)</p>

                    <footer class="col-md-6">
                        @Html.DisplayFor(modelItem => item.lastModified)
                        <button type="button" class="btn-link responseBtn">回應提問</button>
                        @{
                            int responsesCount = (item.responsedata == null) ? 0 : item.responsedata.Count();
                            <button type="button" class="btn-link stretchResponseBtn"> @responsesCount 則回覆</button>
                            }
                    </footer>

                    <div class="col-md-6">
                        @*@Html.ActionLink("修改", "Edit", new { }, new { @class = "btn btn-info" }) @Html.ActionLink("刪除", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger" })*@
                    </div>
                </blockquote>
            </div>
            <div hidden="hidden">
                <textarea class="text-box"></textarea>
                <input name="anonym" class="anonym" id="anonym" type="checkbox"> 匿名回覆
                <button type="button" class="responseSubmit">送出回覆</button>
            </div>
            <div class="col-md-offset-1 col-md-11 ResponsesDiv" hidden="hidden">
                @if (item.responsedata != null)
                {
                    @Html.Partial("GetResponses", item.responsedata)
                }
            </div>
        </div>

        @Html.HiddenFor(modelItem => item.questionID)

        @*@Html.DisplayNameFor(model => model.email)*@
        @Html.HiddenFor(modelItem => item.email)

        @*@Html.DisplayNameFor(model => model.anonym)*@
        @Html.HiddenFor(modelItem => item.anonym)

        @*@Html.DisplayNameFor(model => model.hidden)*@
        @Html.HiddenFor(modelItem => item.hidden)

        @*@Html.DisplayNameFor(model => model.allowEmailContact)*@
        @Html.HiddenFor(modelItem => item.allowEmailContact)

    }
</div>


