@model MvcClient.Areas.Courses.Models.Ranking


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <form>

            <label for="commentstring">評價分數</label>

            <div class="form-group" hidden="hidden">
                @Html.LabelFor(model => model.userID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    <input class="rankingRange" id="userID" name="userID" type="text" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.deepness, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    <input class="rankingRange" id="deepness" name="deepness" type="range" max="10" min="0" />
                </div>
                <div class="col-md-1">
                    <label class="form-control-static" disabled="disabled"></label>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.relaxing, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    <input class="rankingRange" id="relaxing" name="relaxing" type="range" max="10" min="0" />
                </div>
                <div class="col-md-1">
                    <label class="form-control-static" disabled="disabled"></label>
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.sweetness, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    <input class="rankingRange" id="sweetness" name="sweetness" type="range" max="10" min="0" />
                </div>
                <div class="col-md-1">
                    <label class="form-control-static" disabled="disabled"></label>
                </div>

            </div>

            <div class="col-md-offset-6 col-md-6" id="rankingSubmitDiv">
                <input id="submit" type="submit" value="送出評價" class="btn btn-default" />
            </div>
        </form>

    </div>
}



<script>

    //function showRangeVal() {
    //    $("#deepness").parent("div").find("input:eq(2)").text($("#deepness").val())
    //    $("#sweetness").parent("div").find("input:eq(2)").text($("#sweetness").val())
    //    $("#relaxing").parent("div").find("input:eq(2)").text($("#relaxing").val())
    //}

    //showRangeVal()

    //$("#deepness").change(function () {
    //    console.log($("#deepness").val())
    //    showRangeVal()
    //})
    //$("#sweetness").change(function () {
    //    showRangeVal()
    //})
    //$("#relaxing").change(function () {
    //    showRangeVal()
    //})


</script>
