@model FourYears.Areas.JobArea.Models.Job
@{
    ViewBag.Title = "詳細資料";

    var commentList = new List<FourYears.Areas.JobArea.Models.JobCommet>();
    using (FourYears.Areas.JobArea.Models.superuniversityEntities1 db = new FourYears.Areas.JobArea.Models.superuniversityEntities1())
    {
        commentList = (from s in db.JobCommets
                       where s.JobID == this.Model.JobID
                       select s).ToList();
    }
}
@section styles{
    <style>
        body {
            background-color: antiquewhite;
            padding-top: 15px;
            font-size: 12px;
        }

        .main {
            max-width: 320px;
            margin: 0 auto;
        }

        .login-or {
            position: relative;
            font-size: 18px;
            color: #aaa;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .span-or {
            display: block;
            position: absolute;
            left: 50%;
            top: -2px;
            margin-left: -25px;
            background-color: #fff;
            width: 50px;
            text-align: center;
        }

        .hr-or {
            background-color: #cdcdcd;
            height: 1px;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        h3 {
            text-align: center;
            line-height: 300%;
        }

        #beautiful {
            text-align: center;
            line-height: 300%;
            font-weight: bold;
            font-family: 'Microsoft JhengHei';
        }

        #lookgood {
            text-align: center;
            line-height: 300%;
            width: 400px;
            font-size: 10px;
            font-weight: bold;
            font-family: 'Microsoft JhengHei';
        }
    </style>
}
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="http://maps.google.com/maps?file=api&v=2&key=AIzaSyAOL3nZZATU5Kj_MSI10z17WFFxnfbHdAw" type="text/javascript"></script>
    <script type="text/javascript">
        var geocoder;
        var map;
        var address = "@ViewBag.map";
        //var address = "台北市松山區長春路176號漢堡王";

        map=new GMap2(document.getElementById("map"));
        map.addControl(new GLargeMapControl());
        map.addControl(new GMapTypeControl());
        geocoder=new GClientGeocoder();
        geocoder.getLocations(address,addtoMap);

        function addtoMap(response){
            place=response.Placemark[0];
            point = new GLatLng(place.Point.coordinates[1],place.Point.coordinates[0]);
            map.setCenter(point, 13);
            marker = new GMarker(point);
            map.addOverlay(marker);
            marker.openInfoWindow(place.address);
        }

        $('JobID')
    </script>
}
@using (Html.BeginForm("Detail", "Home", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="form-group">
            @Html.EditorFor(m => m.JobID, "", new { htmlAttributes = new { hidden = "hidden" } })
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(e => e.JobName, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    <p class="beautiful">@Html.DisplayFor(e => e.JobName)</p>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(e => e.JobStartTime, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.EditorFor(e => e.JobStartTime, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(e => e.TimeID, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @{
                        var times = new SelectList(ViewBag.datas, "TimeID", "jobtimes");
                    }
                    @Html.DropDownListFor(e => e.TimeID, times, "請選擇時段", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(e => e.PayPerHour, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @{
                        if (Model.PayPerHour == 0)
                        {

                            <p class="lookgood">@Html.DisplayName("面議")</p>

                        }
                        else
                        {

                            <p class="lookgood">
                                @Html.DisplayFor(j => j.PayPerHour)
                            </p>

                        }
                    }
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(e => e.Workplace, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    <p class="lookgood"> @Html.DisplayFor(e => e.Workplace)</p>

                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(e => e.Description, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    <p class="lookgood">@Html.TextAreaFor(e => e.Description, new { style = "resize:none", @class = "form-control", rows = "10" })</p>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(e => e.ImageWebSite, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-9">
                    @Html.EditorFor(e => e.ImageWebSite, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(e => e.ImageWebSite, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("所屬公司", new { @class = "col-sm-3 control-label" })
                <div class="col-lg-9">
                    @{
                        var x = ViewBag.name;
                        var d = ViewBag.id;
                        foreach (var p in x.CN)
                        {
                            <p style="width:400px"><a href="@Url.Action("CompanyDetail", "Home",new { Area="JobArea",id=d})" class="text text-info">@p.CompanyName</a></p>
                        }
                    }
                </div>
            </div>

        </div>
        <div class="col-lg-8">
            <div class="form-group">
                @Html.LabelFor(e => e.Image, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @{
                        if (Model.ImageWebSite != null)
                        {
                            <img src="@Model.ImageWebSite" width="500" height="300" />
                        }
                        else if (Model.Image != null)
                        {
                            <img src="@string.Format("data:image/jpeg;base64,{0}",Convert.ToBase64String(Model.Image))" width="500" height="300" />
                        }
                        else
                        {
                            <h3>無照片</h3>
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(e => e.Workplace, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10" id="map" style="width:600px;height:400px">
                </div>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-2">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a href="~/JobArea/Home/Index" class="btn btn-warning">返回主頁</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        @{
                            if (Request.Cookies["name"] != null)
                            {
                                <a href="@Url.Action("Hire","Home",new { Area="JobArea",id=Model.JobID})" class="btn btn-warning">我要應徵</a>

                            }
                            else
                            {
                                <a href="@Url.Action("Login","Employer",new { Area="JobArea"})" class="btn btn-warning">我要應徵</a>

                            }

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

                            }

<div class="form-group">
    <div>
        @Html.Label("工作評價", new { })
    </div>

    <div>
        @using (Html.BeginForm("AddComment", "Home", new { id = Model.JobID }, FormMethod.Post, new { }))
        {
            if (Request.Cookies["name"] != null)
            {
                @Html.TextArea("Content", "", new { rows = "5", style = "width:1000px" })
                <input type="submit" value="留言" class="btn btn-default" style="margin-top:60px" />
            }
            else
            {
                @Html.TextArea("Content", "", new { rows = "5", style = "width:1000px" })
                @*<input type="url"  value="留言" class="btn btn-default" style="margin-top:60px" />*@
                <a href="@Url.Action("Login","Employer",new { Area="JobArea"})" class="btn btn-default" style="margin-top:60px">留言</a>
            }

        }
    </div>
    <div>
        @foreach (var comment in commentList)
        {
            <h6>@comment.UserID：</h6>
            <span>@comment.Content</span>
            <p>(@comment.CreateDate)</p>
            <hr />
        }
    </div>
</div>

