@model FourYears.Areas.FoodMapArea.Models.Shop
@{
    ViewBag.Title = "Details";
}

@section styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
        #ad {
            width: 70%;
            height: 150px;
        }

        #adarea {
            background-color: wheat;
            text-align: center;
        }

        .image {
            width: 400px;
            height: 210px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .imageback {
            text-align: center;
        }

        .aboutarticle {
            border: 1px solid gray;
            border-radius: 30px;
            width: 380px;
            background-color: #f7f8fa;
        }

        .article {
            margin: 10px;
        }

        .titleimage {
            width: 50px;
            height: 50px;
        }

        .barfont {
            font-size: 18px;
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
        }
    </style>

}


<body>

    <div id="adarea">
        <img id="ad" src="~/Areas/FoodMapArea/WebImages/delicacy_banner_0.jpg" />
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb barfont">

                    <li>@Html.ActionLink("首頁", "Index", "Customer", new { area = "FoodMapArea" }, null)</li>

                    <li>
                        @Html.ActionLink("店家介紹", "Index", "ShopController", new { area = "FoodMapArea" })
                    </li>
                    <li class="active">
                        @Html.DisplayFor(p => p.ShopName)
                    </li>
                    @*@if (Request.Cookies["UserName"] == null)
                    {
                        <li style="float:right">@Html.ActionLink("登入", "Login", "Account", new { area = "FoodMapArea" }, null)</li>
                    }
                    else
                    {
                        <li style="float:right">@Html.ActionLink(Request.Cookies["UserName"].Value + " 登出", "Logout", "Account", new { area = "FoodMapArea" }, null)</li>
                    }*@

                    @if (Request.Cookies["UserName"] == null)
                    {
                        <li style="float:right">@Html.ActionLink("管理介面", "Login", "Account", new { area = "FoodMapArea" }, null)</li>
                    }
                    else
                    {
                        if (Request.Cookies["UserName"].Value == "Admin")
                        {
                            <li style="float:right">@Html.ActionLink("管理介面", "Index", "Admin", new { area = "FoodMapArea" }, null)</li>
                        }
                        else
                        {
                            <li style="float:right">@Html.ActionLink("管理介面", "Index", "User", new { area = "FoodMapArea", id = Request.Cookies["CustomerID"].Value }, null)</li>
                        }
                    }
                    <li style="float:right">@Html.ActionLink("店家介紹", "Index", "Shop", new { area = "FoodMapArea" }, null)</li>
                    <li style="float:right">@Html.ActionLink("地圖美食", "Map", "Customer", new { area = "FoodMapArea" }, null)</li>
                </ul>
            </div>
            <div class="col-md-8" style="position:inherit">
                <div>
                    <h2 style="font-family:'Microsoft JhengHei' ;font-weight:bold;font-size:36px">@Html.DisplayFor(p => p.ShopName)</h2>
                    <hr />
                    <div>
                        <p style="font-family:'Microsoft JhengHei';font-weight:bold;font-size:24px"><span style="color:orangered">產品</span>簡介</p>
                    </div>

                    <br />

                    <div>
                        @if (ViewBag.image != null)
                        {
                            <div class="col-xs-12 col-sm-4 col-md-4 padFix bigimg imageback">
                                <span class="photo_b">
                                    <img src="@Url.Action("GetImage1",new { id=ViewBag.number})" style="width:200px;height:200px" />
                                </span>
                            </div>
                        }

                        @if (ViewBag.image2 != null)
                        {
                            <div class="col-xs-12 col-sm-4 col-md-4 padFix bigimg imageback">
                                <span class="photo_b">
                                    <img src="@Url.Action("GetImage2",new { id=ViewBag.number })" style="width:200px;height:200px" />
                                </span>
                            </div>
                        }

                        @if (ViewBag.image3 != null)
                        {
                            <div class="col-xs-12 col-sm-4 col-md-4 padFix bigimg imageback">
                                <span class="photo_b">
                                    <img src="@Url.Action("GetImage3",new { id=ViewBag.number})" style="width:200px;height:200px" />
                                </span>
                            </div>
                        }


                        <div class="clearfix"></div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md-12">
                            <p style="font-family:'Microsoft JhengHei';font-weight:bold;font-size:24px;"><span style="color:orangered">相關</span>介紹</p>
                            <p style="font-size:larger;font-family:'Microsoft JhengHei';font-weight:bold;font-size:20px;">
                                @Html.DisplayFor(p => p.Description)
                            </p>

                        </div>

                        <hr />



                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <hr />
                    <div style="text-align:center">@Html.ActionLink("回到店家介紹", "Index", "Shop", new { id = ViewBag.fc, area = "FoodMapArea" }, new { @class = "btn btn-primary", @style = "width:140px;height:40px;font-size:larger;font-family:'Microsoft JhengHei';font-weight:bold;font-size:20px;" })</div>
                    <br />
                    <br />


                </div>
            </div>
            <div class="col-md-4" style="position:inherit">
                <div>

                    <div style="background-color:rgb(243,243,243);margin-top:90px">
                        <img src="~/Areas/FoodMapArea/WebImages/appIcon2.png" class="titleimage" />
                        <span style="font-family:'Microsoft JhengHei';font-weight:bold;font-size:28px;margin-top:10px">店家資訊</span>
                        <hr />

                        <div>
                            <p style="font-size:larger;font-family:'Microsoft JhengHei';font-weight:bold;font-size:20px;" class="article"><span class="glyphicon glyphicon-home"></span> 地址:<br />@Html.DisplayFor(p => p.Address)</p>
                            <p style="font-size:larger;font-family:'Microsoft JhengHei';font-weight:bold;font-size:20px;" class="article"><span class="glyphicon glyphicon-earphone"></span> 電話:<br />@Html.DisplayFor(p => p.Phone)</p>
                            <p style="font-size:larger;font-family:'Microsoft JhengHei';font-weight:bold;font-size:20px;" class="article"><span class="glyphicon glyphicon-usd"></span> 平均消費:<br />@Html.DisplayFor(p => p.Cost)</p>
                            <p style="font-size:larger;font-family:'Microsoft JhengHei';font-weight:bold;font-size:20px;" class="article"><span class="glyphicon glyphicon-time"></span> 營業時間:<br />@Html.DisplayFor(p => p.BusinessTime)</p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <br />
    <br />



</body>






@section scripts{
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


}
