@using Microsoft.AspNet.Identity;

@model IEnumerable<FourYears.Areas.FoodMapArea.Models.Shop>

@{
    ViewBag.Title = "店家介紹";
}

@section styles{
    <style>
        #ad {
            width: 70%;
            height: 150px;
        }

        #adarea {
            background-color: wheat;
            text-align: center;
        }

        .category {
            border: 3px solid gray;
            border-radius: 30px;
            width: 380px;
            background-color: #f7f8fa;
        }

        .article {
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .image1 {
            width: 300px;
            height: 300px;
        }

        .infotitle {
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
            font-size: 24px;
        }

        .info {
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
            font-size: 16px;
        }

        .words {
            font-family: 'Microsoft JhengHei';
            font-size: 16px;
            font-weight: bold;
        }

        .barfont {
            font-size: 18px;
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
        }
    </style>

}


<body>
    <div id="adarea">
        <img id="ad" src="~/Areas/FoodMapArea/WebImages/delicacy_banner_0.jpg" />
    </div>

    <div class="container">
        <div class="row">
            <ul class="breadcrumb barfont">
                <li>@Html.ActionLink("首頁", "Index", "Customer", new { area = "FoodMapArea" }, null)</li>
                <li>店家介紹</li>
                @*@if (Request.Cookies["UserName"] == null)
                {
                    <li style="float:right">@Html.ActionLink("登入", "Login", "Account", new { area = "FoodMapArea" }, null)</li>
                }
                else
                {
                    <li style="float:right">@Html.ActionLink(Request.Cookies["UserName"].Value + " 登出", "Logout", "Account", new { area = "FoodMapArea" }, null)</li>
                }*@

                @*@if (Request.Cookies["UserName"] == null)
                {
                    <li style="float:right">@Html.ActionLink("管理介面", "Login", "Account", new { area = "FoodMapArea" }, null)</li>
                }
                else
                {
                    if (Request.Cookies["UserName"].Value == "Admin")
                    {
                        <li style="float:right">@Html.ActionLink("管理介面", "Index", "Admin", new { area = "FoodMapArea" }, null)</li>
                    }
                    else
                    {
                        <li style="float:right">@Html.ActionLink("管理介面", "Index", "User", new { area = "FoodMapArea", id = Request.Cookies["CustomerID"].Value }, null)</li>
                    }
                }*@
                @if (!User.Identity.IsAuthenticated)
                {
                    <li style="float:right">@Html.ActionLink("管理頁面", "Login", "Account", new { area = "", returnUrl = Request.RawUrl }, htmlAttributes: new { id = "loginLink" })</li>
                }
                else
                {
                    if (User.Identity.GetUserId() == "1ff58b8c-5c32-4827-bf58-1785c40fea1f")
                    {
                        <li style="float:right">@Html.ActionLink("管理頁面", "Index", "Admin", new { area = "FoodMapArea" }, null)</li>
                    }
                    else
                    {
                        <li style="float:right">@Html.ActionLink("管理頁面", "Index", "User", new { area = "FoodMapArea", UserID = User.Identity.GetUserId() }, null)</li>

                    }
                }
                <li style="float:right">@Html.ActionLink("店家介紹", "Index", "Shop", new { area = "FoodMapArea" }, null)</li>
                <li style="float:right">@Html.ActionLink("地圖美食", "Map", "Customer", new { area = "FoodMapArea" }, null)</li>
            </ul>

            <div>
                <div class="col-md-2">
                    @*<p style="font-family:'Microsoft JhengHei';font-weight:bold;font-size:24px;"><span style="color:orangered">餐廳</span>類型</p>*@
                    @Html.Action("GetFoodCategoryName")
                </div>
                <div class="col-md-10">
                    <h3 style="font-family:'Microsoft JhengHei';font-weight:bold;font-size:24px;"><span style="color:orangered">搜尋</span>結果</h3>
                    @foreach (var shop in Model)
                    {
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <img class="image1" src="@Url.Action("GetImage1","Shop",new {id=shop.ShopID})" />
                            </div>
                            <div class="col-md-7">
                                <p class="infotitle">@Html.DisplayFor(p => shop.ShopName)</p>
                                <br />
                                <br />
                                @Html.LabelFor(p => shop.Address, new { @class = "words" }):@Html.DisplayTextFor(p => shop.Address)
                                <br />
                                @Html.LabelFor(p => shop.Cost, new { @class = "words" }):@Html.DisplayTextFor(p => shop.Cost)
                                <br />
                                @Html.LabelFor(p => shop.Phone, new { @class = "words" }):@Html.DisplayTextFor(p => shop.Phone)
                                <br />
                                <div style="float:right">@Html.ActionLink("點我看店家詳細", "Details", "Shop", new { id = shop.ShopID, area = "FoodMapArea" }, new { @class = "btn btn-primary", style = "font-size:18px;font-family:'Microsoft JhengHei';font-weight:bold" })</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr />
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>



</body>