@using Microsoft.AspNet.Identity;
@model FourYears.Areas.FoodMapArea.Models.Shop
@{
    ViewBag.Title = "餐廳詳細資料(使用者)";
}

@section styles{
    <style>
        #adarea {
            background-color: wheat;
            text-align: center;
        }

        .barfont {
            font-size: 18px;
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
        }
    </style>
}

<div id="adarea">
    <img src="~/Areas/FoodMapArea/WebImages/delicacy_banner_1.jpg" />
</div>
<div class="container">
    <ul class="breadcrumb barfont">
        <li>@Html.ActionLink("首頁", "Index", "Customer", new { area = "FoodMapArea" }, null)</li>
        <li>@Html.ActionLink("店家列表", "Index", "User", new { area = "FoodMapArea" })</li>
        <li>餐廳詳細資料</li>
        @*@if (Request.Cookies["UserName"] == null)
        {
            <li style="float:right">@Html.ActionLink("登入", "Login", "Account", new { area = "FoodMapArea" }, null)</li>
        }
        else
        {
            <li style="float:right">@Html.ActionLink(Request.Cookies["UserName"].Value + " 登出", "Logout", "Account", new { area = "FoodMapArea" }, null)</li>
        }*@

        @*@if (Request.Cookies["UserName"] == null)
        {
            <li style="float:right">@Html.ActionLink("管理介面", "Login", "Account", new { area = "FoodMapArea" }, null)</li>
        }
        else
        {
            if (Request.Cookies["UserName"].Value == "Admin")
            {
                <li style="float:right">@Html.ActionLink("管理介面", "Index", "Admin", new { area = "FoodMapArea" }, null)</li>
            }
            else
            {
                <li style="float:right">@Html.ActionLink("管理介面", "Index", "User", new { area = "FoodMapArea", id = Request.Cookies["CustomerID"].Value }, null)</li>
            }
        }*@
        @if (!User.Identity.IsAuthenticated)
        {
            <li style="float:right">@Html.ActionLink("管理頁面", "Login", "Account", new { area = "", returnUrl = Request.RawUrl }, htmlAttributes: new { id = "loginLink" })</li>
        }
        else
        {
            <li style="float:right">@Html.ActionLink("管理頁面", "Index", "User", new { area = "FoodMapArea", UserID = User.Identity.GetUserId() }, null)</li>
        }
        <li style="float:right">@Html.ActionLink("店家介紹", "Index", "Shop", new { area = "FoodMapArea" }, null)</li>
        <li style="float:right">@Html.ActionLink("地圖美食", "Map", "Customer", new { area = "FoodMapArea" }, null)</li>
    </ul>
</div>
<div class="container">
    <h2 style="font-family:'Microsoft JhengHei';font-weight:bold;font-size:24px;"><span style="color:orangered">餐廳</span>詳細資料</h2>
    <hr />
    @using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.LabelFor(p => p.ShopID, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EditorFor(p => p.ShopID, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.ShopName, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EditorFor(p => p.ShopName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">縣市名稱</label>
            <div class="col-sm-10">
                @{
                    var cities = new SelectList(ViewBag.cities, "CityID", "CityName");
                    var schools = new SelectList(ViewBag.schools, "SchoolID", "SchoolName");
                }
                @Html.DropDownListFor(p => p.CityID, cities, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">學校名稱</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(p => p.SchoolID, schools, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">分類名稱</label>
            <div class="col-sm-10">
                @{
                    var categories = new SelectList(ViewBag.datas, "FoodCategoryID", "FoodCategoryName");
                }
                @Html.DropDownListFor(p => p.FoodCategoryID, categories, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Address, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EditorFor(p => p.Address, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Phone, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EditorFor(p => p.Phone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Cost, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EditorFor(p => p.Cost, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.BusinessTime, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EditorFor(p => p.BusinessTime, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.ShopLink, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.EditorFor(p => p.ShopLink, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Image1, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <img src="@Url.Action("GetImage",new { id= ViewBag.number})" class="img-thumbnail" width="300px" />
            </div>
        </div>

                    if (ViewBag.image2 != null)
                    {
                        <div class="form-group">
                            @Html.LabelFor(p => p.Image2, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                <img src="@Url.Action("GetImage2",new { id= ViewBag.number})" class="img-thumbnail" width="300px" />
                            </div>
                        </div>
                    }

                    if (ViewBag.image3 != null)
                    {
                        <div class="form-group">
                            @Html.LabelFor(p => p.Image3, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                <img src="@Url.Action("GetImage3",new { id= ViewBag.number})" class="img-thumbnail" width="300px" />
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        @Html.LabelFor(p => p.Description, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(p => p.Description, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            @Html.ActionLink("返回瀏覽", "Index", "User", new { UserID = User.Identity.GetUserId(), area = "FoodMapArea" }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    }

</div>