@using PagedList;
@using PagedList.Mvc;
@model IPagedList<FourYears.Areas.FoodMapArea.Controllers.UserTemp>
@{
    ViewBag.Title = "網站首頁(使用者)";
}

@section styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <style>
        #ad {
            width: 70%;
            height: 150px;
        }

        #adarea {
            background-color: antiquewhite;
            text-align: center;
        }

        #schooltext {
            font-size: 30px;
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
        }

        #schoolimg {
            width: 50px;
            height: 50px;
            margin-right: 15px;
        }

        #left-div {
            border: 1px solid black;
            background-color: lightgray;
            padding: 5px;
        }

        #firstContainer {
            margin-top: 30px;
        }

        .schoolarea {
            font-size: 20px;
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
        }

        .schoolname {
            font-size: 15px;
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
            margin: 3px;
        }

        .more {
            font-size: 15px;
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
            margin: 3px;
            float: right;
        }

        .barfont {
            font-size: 18px;
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
        }
    </style>

}
<div id="adarea" style="background-color:wheat">
    <img id="ad" src="~/Areas/FoodMapArea/WebImages/delicacy_banner_1.jpg" />
</div>
<div class="container">
    <ul class="breadcrumb barfont">
        <li>@Html.ActionLink("首頁", "Index", "Customer", new { area = "FoodMapArea" }, null)</li>
        <li class="active">店家列表</li>
        @*@if (Request.Cookies["UserName"] == null)
        {
            <li style="float:right">@Html.ActionLink("登入", "Login", "Account", new { area = "FoodMapArea" }, null)</li>
        }
        else
        {
            <li style="float:right">@Html.ActionLink(Request.Cookies["UserName"].Value + " 登出", "Logout", "Account", new { area = "FoodMapArea" }, null)</li>
        }*@

        @if (Request.Cookies["UserName"] == null)
        {
            <li style="float:right">@Html.ActionLink("管理介面", "Login", "Account", new { area = "FoodMapArea" }, null)</li>
        }
        else
        {
            if (Request.Cookies["UserName"].Value == "Admin")
            {
                <li style="float:right">@Html.ActionLink("管理介面", "Index", "Admin", new { area = "FoodMapArea" }, null)</li>
            }
            else
            {
                <li style="float:right">@Html.ActionLink("管理介面", "Index", "User", new { area = "FoodMapArea", id = Request.Cookies["CustomerID"].Value }, null)</li>
            }
        }
        <li style="float:right">@Html.ActionLink("店家介紹", "Index", "Shop", new { area = "FoodMapArea" }, null)</li>
        <li style="float:right">@Html.ActionLink("地圖美食", "Map", "Customer", new { area = "FoodMapArea" }, null)</li>
    </ul>
</div>
<div @*id="firstContainer"*@ style="width:75%;margin-left:250px">

    <h2 style="font-family:'Microsoft JhengHei';font-weight:bold;"><span style="color:orangered">餐廳</span>資料瀏覽(User)</h2>
    <hr />
    @Html.ActionLink("新增餐廳資料", "Create", "User", new { @class = "btn btn-primary barfont" })
    <table class="table table-bordered table-hover table-striped" id="productTable">
        <thead class="barfont">
            <tr>
                <th>@Html.DisplayNameFor(p => p.First().ShopID)</th>
                <th>@Html.DisplayNameFor(p => p.First().ShopName)</th>
                <th>@Html.DisplayNameFor(p => p.First().Address)</th>
                <th>@Html.DisplayNameFor(p => p.First().Phone)</th>
                <th>@Html.DisplayNameFor(p => p.First().Image1)</th>
                <th>查看</th>
                <th>編輯</th>
            </tr>
        </thead>

        <tbody class="barfont">
            @foreach (var shop in Model)
            {
                <tr data-shopid="@shop.ShopID">
                    <td>@Html.DisplayFor(p => shop.ShopID)</td>
                    <td>@Html.DisplayFor(p => shop.ShopName)</td>
                    <td>@Html.DisplayFor(p => shop.Address)</td>
                    <td>@Html.DisplayFor(p => shop.Phone)</td>
                    <td><img src="@Url.Action("GetImage",new { id=shop.ShopID})" class="img-thumbnail" style="width:90px;height:90px" /></td>
                    <td>@Html.ActionLink("查看", "Detail", "User", new { id = shop.ShopID, area = "FoodMapArea" }, new { @class = "btn btn-primary barfont" })</td>
                    <td>@Html.ActionLink("修改", "Update", "User", new { id = shop.ShopID }, new { @class = "btn btn-primary barfont" })@Html.ActionLink("刪除", "Delete", "User", new { id = shop.ShopID }, new { @class = "btn btn-primary barfont" })</td>
                </tr>
            }

        </tbody>

    </table>
    <div style="text-align:center">@Html.PagedListPager(Model, page => Url.Action("Index", "User", new { page = page, area = "FoodMapArea" }), PagedListRenderOptions.Classic)</div>






</div>
<br />
<br />
<br />
<br />
<br />
<br />

@section scripts{
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

}
