@using PagedList;
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity;
@model IPagedList<FourYears.Areas.FoodMapArea.Models.Shop>

@{
    ViewBag.Title = "餐廳資料瀏覽";
}
@section styles{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <style>
        #ad {
            width: 70%;
            height: 150px;
        }

        #adarea {
            background-color: wheat;
            text-align: center;
        }

        .barfont {
            font-size: 18px;
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
        }
    </style>
}

<div id="adarea">
    <img id="ad" src="~/Areas/FoodMapArea/WebImages/delicacy_banner_1.jpg" />
</div>
<div class="container">
    <ul class="breadcrumb barfont">
        <li>@Html.ActionLink("首頁", "Index", "Customer", new { area = "FoodMapArea" }, null)</li>
        <li>餐廳資料瀏覽(Admin)</li>
        @*@if (Request.Cookies["UserName"] == null)
        {
            <li style="float:right">@Html.ActionLink("登入", "Login", "Account", new { area = "FoodMapArea" }, null)</li>
        }
        else
        {
            <li style="float:right">@Html.ActionLink(Request.Cookies["UserName"].Value + " 登出", "Logout", "Account", new { area = "FoodMapArea" }, null)</li>
        }*@

        @*@if (Request.Cookies["UserName"] == null)
        {
            <li style="float:right">@Html.ActionLink("管理介面", "Login", "Account", new { area = "FoodMapArea" }, null)</li>
        }
        else
        {
            if (Request.Cookies["UserName"].Value == "Admin")
            {
                <li style="float:right">@Html.ActionLink("管理介面", "Index", "Admin", new { area = "FoodMapArea" }, null)</li>
            }
            else
            {
                <li style="float:right">@Html.ActionLink("管理介面", "Index", "User", new { area = "FoodMapArea", id = Request.Cookies["CustomerID"].Value }, null)</li>
            }
        }*@
        @if (!User.Identity.IsAuthenticated)
        {
            <li style="float:right">@Html.ActionLink("管理頁面", "Login", "Account", new { area = "", returnUrl = Request.RawUrl }, htmlAttributes: new { id = "loginLink" })</li>
        }
        else
        {
            if (Roles.IsUserInRole(User.Identity.Name, "Admin"))
            {

            }
            else if(Roles.IsUserInRole(User.Identity.Name, "User"))
            {

            }
            <li style="float:right">@Html.ActionLink("管理頁面", "Index", "User", new { area = "FoodMapArea", UserID=User.Identity.GetUserId() }, null)</li>
        }
        <li style="float:right">@Html.ActionLink("店家介紹", "Index", "Shop", new { area = "FoodMapArea" }, null)</li>
        <li style="float:right">@Html.ActionLink("地圖美食", "Map", "Customer", new { area = "FoodMapArea" }, null)</li>
    </ul>
</div>

<div style="width:75%;margin-left:250px">
    <h2 style="font-family:'Microsoft JhengHei';font-weight:bold;"><span style="color:orangered">餐廳</span>資料瀏覽(Admin)</h2>
    <hr />
    @Html.ActionLink("新增餐廳資料", "Create", "Admin", null, new { @class = "btn btn-primary barfont" })
    <br />
    <table class="table table-bordered table-hover table-striped" id="productTable">
        <thead class="barfont">
            <tr>
                <th>@Html.DisplayNameFor(p => p.First().ShopID)</th>
                <th>@Html.DisplayNameFor(p => p.First().ShopName)</th>
                <th>@Html.DisplayNameFor(p => p.First().Address)</th>
                <th>@Html.DisplayNameFor(p => p.First().Phone)</th>
                <th>@Html.DisplayNameFor(p => p.First().Image1)</th>
                <th>查看</th>
                <th>編輯</th>
            </tr>
        </thead>

        <tbody class="barfont">
            @foreach (var shop in Model)
            {
                <tr data-shopid="@shop.ShopID">
                    <td>@Html.DisplayFor(p => shop.ShopID)</td>
                    <td>@Html.DisplayFor(p => shop.ShopName)</td>
                    <td>@Html.DisplayFor(p => shop.Address)</td>
                    <td>@Html.DisplayFor(p => shop.Phone)</td>
                    <td><img src="@Url.Action("GetImage",new { id=shop.ShopID})" class="img-thumbnail" style="width:90px;height:90px" /></td>
                    <td>@Html.ActionLink("查看", "Detail", "Admin", new { id = shop.ShopID, area = "FoodMapArea" }, new { @class = "btn btn-primary barfont" })</td>
                    <td>@Html.ActionLink("修改", "Update", "Admin", new { id = shop.ShopID, area = "FoodMapArea" }, new { @class = "btn btn-primary barfont" })@Html.ActionLink("刪除", "Delete", "Admin", new { id = shop.ShopID }, new { @class = "btn btn-primary barfont" })</td>
                </tr>
            }

        </tbody>

    </table>
    <div style="text-align:center">@Html.PagedListPager(Model, page => Url.Action("Index", "Admin", new { page = page, area = "FoodMapArea" }), PagedListRenderOptions.Classic)</div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
