<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <style>
        #footer1 {
            position: fixed;
            bottom: 0px;
            width: 100%;
            height: 50px;
        }



        #renderbody {
            margin-bottom: 60px;
            min-height: 100%;
        }

        #mainNav a {
            color: #ffffff;
            height: 40px;
            text-decoration-line: none;
        }
    </style>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-freelancer/3.3.7/css/freelancer.min.css" rel="stylesheet">*@
    @*<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">*@
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @*<script type="text/javascript">
        //網頁載入完成時執行之function
        $(document).ready(function () {
            console.log("ready!");
        });

        //加入編號為productId的商品進購物車
        function AddToCart(productId) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddToCart", "Cart")',
                data: { id: productId }
            })
            .done(function (msg) {
                //將回傳的購物車頁面 填入 li#Cart
                $('li#Cart').html(msg);
            });
        }

    </script>*@

    @RenderSection("styles", false)
</head>
<body>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom" style="background-color:#2c3e50">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> 目錄 <i class="fa fa-bars"></i>
                </button>
                @*<a class="navbar-brand" href="#page-top" style="color:white">肆 ‧ 年</a>*@
                @Html.ActionLink("肆 ‧ 年", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Browse","Customer")"><span class="glyphicon glyphicon-home"></span> 商城首頁</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Cart","Account")"><span class="glyphicon glyphicon-shopping-cart"></span> 購物車</a>
                    </li>
                    <li id="Cart">
                        @Html.Partial("Cart_PartialView")
                    </li>
                    <li>
                        @{
                            if (Request.Cookies["Account"] == null && Request.Cookies["PublisherUserName"] == null)
                            {
                                @Html.ActionLink("登入/註冊", "CustomerLogin", "Account", null, new { @class = "glyphicon glyphicon-user" });
                            }

                            else if (Request.Cookies["Account"] != null && Request.Cookies["PublisherUserName"] == null)
                            {
                                @Html.ActionLink(Request.Cookies["Account"].Value + " / " + HttpUtility.UrlDecode(Request.Cookies["FullName"].Value) +"("+ HttpUtility.UrlDecode(Request.Cookies["NickName"].Value)+")"+ " 個人管理 /", "CustomerProfile", "Customer", null, new { @class = "glyphicon glyphicon-cog" });
                            }
                            else if (Request.Cookies["Account"] == null && Request.Cookies["PublisherUserName"] != null)
                            {
                                @Html.ActionLink(Request.Cookies["PublisherUserName"].Value + " / " + HttpUtility.UrlDecode(Request.Cookies["PublisherName"].Value) + " 廠商管理 /", "PublisherProfile", "BookStore", null, new { @class = "glyphicon glyphicon-user" });
                            }
                            else
                            {
                                @Html.ActionLink("登入/註冊", "CustomerLogin", "Account", null, new { @class = "glyphicon glyphicon-user" });
                            }
                        }
                    </li>
                    <li>
                        @{
                            if (Request.Cookies["Account"] == null && Request.Cookies["PublisherUserName"] == null)
                            {
                            }
                            else if (Request.Cookies["Account"] != null && Request.Cookies["PublisherUserName"] == null)
                            {
                                @Html.ActionLink(" 登出", "Logout", "Account", null, new { @class = "glyphicon glyphicon-log-out" });
                            }
                            else if (Request.Cookies["Account"] == null && Request.Cookies["PublisherUserName"] != null)
                            {
                                @Html.ActionLink(" 登出", "Logout", "Account", null, new { @class = "glyphicon glyphicon-log-out" });
                            }
                            else
                            {
                            }
                        }
                    </li>

                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section id="renderbody">

        @RenderBody()

    </section>

    <footer id="footer1" class="text-center">
        <div class="panel-footer" style="height: 50px;background-color: #2c3e50">
            <div class="container">
                <div class="row" style="margin-top:6px">
                    <div class="col-lg-12" style="color:white">
                        Copyright &copy; 肆 ‧ 年 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-freelancer/3.3.7/js/freelancer.min.js"></script>*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    
    @RenderSection("scripts", false)
</body>
</html>